body{
    position: relative;
    margin:0px;
    padding: 0px;
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック";
    font-size: 10px;
    font-weight: normal;
}

html,body,h1,h2,div,p{
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    outline: 0;
    border: none;
    background: none;
}
ul, li{
    list-style: none;
    margin: 0;
}

/*header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    background: #d61c38 left bottom no-repeat;
    width: 120px;
    height: 100%;
}
header .header-first{
    width: 70px;
    height: 70px;
    text-align: center;
    margin:28px 25px 24px;
}
.header-list{
    position: relative;
    margin: 0;
}
.header-list ul{
    position: absolute;
    top:0;
    left: 5px;
    padding: 0;
}
.header-list li{
    display: list-item;
    padding: 20px 0 20px 25px;
    color: #fff;
    font-size: 140%;
    line-height: 15px;
}
.starbucks_image{
    width: 80px;
    height: 80px;
    border-radius: 300px;
    
}
.header-list .service{
    font-size: 9px;
    margin: 0;
    font-weight: lighter;
}

/*whole*/

.whole-content{
    display: flex;
}


/*wrapper*/

.wrapper{
    display: flex;
    justify-content: space-between;
    padding:0 10px 0 120px;
    background-color: #f8f8f7;
    word-break: normal;
}
.wrapper .first{
    height: 100%;
    width: 55%;
    
}

.first img{
   width: 100%;
}

.wrapper .second{
    height: 100%;
    width: 45%;
    
}
.content-area{
    width: 463px;
    color: #3d3935;
}
.left-list li{
    width:260px;
    height: 170px;
    background-color: #fff;
    margin: 0 5px 10px;
}
.left-list img{
    width: 100px;
    height: 120px;
}
.boxcontainer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    font-size: 11px;
    
}
.boxcontainer .text-contents{
   width: 50%;
   line-height: 1.73;
}

.boxcontainer .text-contents p{
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin-bottom: 0;
}
.notification{
    display: flex;
    justify-content: space-between;
    color: #c6893f;
    font-size: 11px;
    width: auto;
    padding: 20px 0;
}
.noti-area p{
    display: inline-block;
    padding: 0 6px;
    font-size: 13px;
    line-height: 1.6;
    border-radius: 4px;
    border: solid 1px #c6893f;
}
.noti-text{
    margin-left: 10px;
}
.listsarea{
    margin-left: 13px;
    display: flex;
}
.listsarea ul{
    padding: 0;
}

.left-list .brewing{
    margin: 0 0 2px 5px;
    font-size: 13px;
    line-height: 1.6;
    width: 100%;
}

/*--right list */

.right-list  img{
    margin-right: 10px;
}
.right-list .pick{
    font-size: 13px;
}
.right-list li{
    background-color: #fff;
    margin: 0 5px 10px;
}
.first-list{
    width:168px;
    height: 100px;
}
.first-list .boxcontainer .image img{
    height: 40px;
    width: 40px;
}
.right-list ul{
    margin-top: 7px;
}
.first-list .boxcontainer p{
    line-height: 1.73;
}
.second-list{
    width:168px;
    height: 60px;
}
.second-list .boxcontainer .image img{
    height: 40px;
    width: 40px;
}
.third-list{
    width:168px;
    height: 77px;
}
.third-list .boxcontainer .image img{
    height: 40px;
    width: 40px;
}
.forth-list{
    width:168px;
    height: 96px;
}
.forth-list .boxcontainer .image img{
    height: 40px;
    width: 40px;
}
/* footer*/
footer{
    width: 130px;
}
.footer-list ul{
    margin-top: 30px;
    margin-left: 0;
    padding: 0;
    
}
.footer-list li{
    margin: 0 0 20px 22px;
    display: flex;
}
.footer-list li .span-text{
    line-height:12px;
    font-size: 11px;
    color: #3d3935;

}
.footer-list i{
    padding-right: 13px;
}
.footer-list ul li .icon-img{
    width: 31px;
    padding: 0;
    margin-right: 8px;
}
